#ignore everything
*

#except
!main.cpp
!PolygonGenerator.h
!ConvexHullAlgo.cpp
!ConvexHullAlgo.h
!README.md
!docs
!docs/*.pdf
!shared.h
!onion.cpp
!onion.h
!/algs/Pick.cpp
!incr.cpp
!Pick.cpp
!incr.cpp
!incr.h
!Pick.h
!pythonQgisScript.py
!images
!images/*
!.gitignore
!local.h
!local.cpp
!PolygonOptimizer.h
!SimulatedAnnealing.cpp
!SimulatedAnnealing.h
!ant.h
!ant.cpp
!AlgorithmHandler.h
!DefaultHandler.h
!ResultLogger.h
!SmartHandler.h
!docs/old/*
!docs/old